body {
    background-color: rgb(155, 106, 71)
}
h1 {
    font-size: 100px;
    text-align: center;
    background-color: crimson;
    lighting-color: rgb(200, 200, 216);
}
.Tardis {
    font-size: 20px;
    text-align: center;
    background-color: rgb(110, 202, 5);
    lighting-color: rgb(255, 255, 255);
}
.doctores{
    font-size: 20px;
    background-color: rgb(240, 232, 13);
    lighting-color: rgb(163, 163, 184);
}
.tomate{
    background-color: darkred;
    color: white;
}
.naranja{
    background-color: orange;
    color: white;
}
.verdealga.{
    background-color: mediumaquamarine;
    color: white;
}
.gris{
    background-color: grey;
    color: white;
}
.azulmetalico{
    background-color: violet;
    color: white;
}
.violeta{
    background-color: violet;
    color: white;
}
.dorado{
    background-color: gold;
    color: white;
}
.grisclaro{
    background-color: slategrey;
    color: white;
}
