*{
margin: 0;
padding: 0;
box-sizing: border-box;
background-color: aqua;
}

.cajamadre {
display: flex;
margin: auto;
margin-top: 60px;
justify-content: top;
align-items: top;
flex-direction: column;
color: white;
background-color: white;
width: 859px;
height: 928px;
border-radius: 50px;
font-weight: bold;
}



.turno {
   font-family: sans-serif;
   border-top-left-radius: 50px;
   border-top-right-radius: 50px;
   font-size: 40px;
   background-color: #203774;
   padding: 50px;
  }