* {
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 22px;
}
body {
    background-color: #dadde1;
    display: flex;
    justify-content: center;
}
.card {
    height: 928px;
    width: 859px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #203774;

}
.register {
    color: white;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 32px;
}
.cross {
    font-weight: 100;
    color: white;
    margin-right: 35px;
    margin-top: 30px;
    font-size: 25px;
}
.mounth {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 800;
    margin-bottom: -10px;
}
.day {
    display: flex;
    justify-content: center;
    font-weight: 800;
}